.cambiar-password-container {
  max-width: 900px;
  margin: 2rem auto;
  padding: 1.5rem 2rem;
  background-color: #2b2b2b;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  color: rgba(255, 255, 255, 0.9);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.cambiar-password-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cambiar-password-container input {
  padding: 0.5rem;
  border: none;
  border-radius: 8px;
}

.cambiar-password-container button {
  padding: 0.5rem;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.mensaje {
  color: #f1c40f;
  text-align: center;
  margin-top: 1rem;
}

@media screen and (max-width: 600px) {
  .cambiar-password-container {
    width: 90%;
    padding: 1rem;
  }
}
